doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/all.min.css")
  body
    nav.navbar.fixed-top.navbar-expand-md
      .container
        a.navbar-brand(href='/') Loc8r
        button.navbar-toggler.navbar-toggler-left(type='button' data-toggle='collapse' data-target='#navbarMain')
          span.navbar-toggler-icon
        #navbarMain.navbar-collapse.collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/about/') About
    .container.content          
      block content

      footer
        .row
          .col-12
            small &copy; Getting Mean
    script(src="https://code.jquery.com/jquery-3.4.1.slim.min.js" , integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" , integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" , crossorigin="anonymous")
    script(src="/javascripts/bootstrap.min.js" )
