extends layout

block content
  .row.banner
    .col-12
      h1 Starcups
  .row
    .col-12.col-lg-9
      .row
        .col-12.col-md-6
          p.rating
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
          p 123 Tarred Road, Okota
          .card.card-primary
            .card-block
              h2.card-title Opening Hours
              p.card-text Monday - Friday : 7:00am - 7:00pm
              p.card-text Saturday : 7:00am - 7:00pm
              p.card-text Sunday : closed
          .card.card-primary
            .card-block
              h2.card-title Facilities
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp; Hot drinks
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp; Food
              | &nbsp;
              span.badge.badge-warning
                i.fa.fa-check
                | &nbsp; Premium Wifi
              | &nbsp;
        .col-12.col-md-6.location-map
          .card.card-primary
            .card-block
              h2.card-title Location Map
              img.img-fluid.rounded(src="https://maps.googleapis.com/maps/api/staticmap?center=lagoskey=AIzaSyDFmZIlhnai0kQkw6ZB4cAKl2vX-JIRx2g")
      .row
        .col-12
          .card.card-primary.review-card
            .card-block
              a.btn.btn-primary.float-right(href='/location/review/new') Add Review
              h2.card-title Customer Reviews
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                  span.reviewAuthor Chuckz Okoye
                  small.reviewTimestamp 21 January 2020
                .col-12
                  p Great Place to be.
              .row.review
                .col-12.no-gutters.review-header
                  span.rating
                    i.fas.fa-star
                    i.fas.fa-star
                    i.far.fa-star
                    i.far.fa-star
                    i.far.fa-star
                  span.reviewAuthor Emmanuel Okoye
                  small.reviewTimestamp 21 March 2020
                .col-12
                  p Dope Area, Mad Ohhhh.
    .col-12.col-lg-3
      p.lead
      | Starcups is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
      p
      | If you've been and you like it - or if you don't - please leave a review to help other people just like you.
